/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/*~
/depcomp
/install-sh
/missing
/src/.deps/
/src/wav2rtp
/stamp-h1
/test-driver
.deps/
.dirstamp
compile_commands.json
src/pcap_test
.cache/
# launch.json
.vscode/

Makefile
Makefile.in

*.o
*.log
*.trs
*.wav
*.pcap
*.rtpdump

_project.lua
